BIGCHANGE_AUTH_MODE=api_key
BIGCHANGE_BASE_URL=https://webservice.bigchange.com/v01/services.ashx
BIGCHANGE_API_KEY=
BIGCHANGE_USERNAME=
BIGCHANGE_PASSWORD=
BIGCHANGE_JOBS_FALLBACK_DATE_OPTION_ID=2

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_TO_EMAIL=
